# Data
data/bosch

# TFRecord files
*.record

# Pre-trained models
pre_trained/ssd_mobilenet_v2_coco_2018_03_29

# Output directory
training/

# IntelliJ IDEA
.idea/

# Jupyter
.ipynb_checkpoints/
.ipynb